RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php?/$1 [L]

# Заголовок Cache-Control
<IfModule mod_headers.c>
        Header append Cache-Control "public"
</IfModule>
 
# Заголовок Expires
<IfModule mod_expires.c>
        ExpiresActive On ExpiresDefault "access plus 1 hours"
</IfModule>
